.view-email {
  width: 55%;
  /* flex-grow: 2; */
  height: 100%;
  background-color: white;
  padding: 2rem;
  height: 95vh;
  position: sticky;
  overflow-y: scroll;
  top: 0;
  border-radius: 10px;
}

@media only screen and (max-width: 900px) {
  .view-email {
    position: absolute;
    height: 100vh;
    width: 100%;
  }
}
