@import "./components/index.css";

:root {
  --accent: #e54065;
  --background: #f4f5f9;
  --border: #cfd2dc;
  --text: #636363;
  --filter-btn: #e1e4ea;
  --read-background: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins";
}

::-webkit-scrollbar {
  width: 0.2em;
  border-radius: 10px;
  z-index: 1;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  /* outline: 1px solid slategrey; */
  border-radius: 10px;
}

.App {
  background-color: var(--background);
  padding: 1rem 0;
}

.main-section {
  display: flex;
  justify-content: center;
  max-height: 95vh;
  /* width: 100%; */
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 12px;
  }
}
