.email-card {
  width: 100%;
  margin: 0 auto 1rem;
  min-height: max-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: 10px;
  cursor: pointer;
}

.email-card-read {
  background-color: var(--read-background);
}

.email-card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}

.avatar-wrapper {
  width: 5rem;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
  color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  margin: 0 1rem;
  font-size: 2rem;
  font-weight: 500;
}

.email-card-text {
  font-size: 1rem;
  color: var(--text);
  font-weight: 400;
}

.email-card-text-bold {
  font-weight: 700;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 480px) {
  .email-card-details {
    width: 70%;
  }
}
